@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Commissioner', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6F1FC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
